language: objective-c
osx_image: xcode11.3
env:
- LANG=en_US.UTF-8 LC_CTYPE=en_US.UTF-8
before_install:
- gem install xcpretty -N
- pod install
script:
- xcodebuild -workspace RomPlayer.xcworkspace -sdk iphonesimulator -scheme RomPlayer -arch x86_64 ONLY_ACTIVE_ARCH=YES CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY="" clean build
